{% include "store/base.html" %}


{% load static %}

{% load mathfilters %}

{% block content %}


<main class="pt-5">
    
    <div class="container">
      
      <h1 class="h5"> Shopping cart </h1>

	<hr>
        
        {% for item in cart %}

        {% with product=item.product %}
      
      <br>

      <div class="row mb-4 border product-item">
        
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
        
            <!-- FIXED: Changed from product.image.url to product.get_main_image.url -->
            {% if product.get_main_image %}
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.get_main_image.url }}">
            {% else %}
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{% static 'images/no-image.png' %}">
            {% endif %}
        
        </div>

        
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
          
          <a href="{{ product.get_absolute_url }}" class="text-info text-decoration-none"> <!-- Product get absolute url -->
          
            <h1 class="h5 pt-2"> {{ product.title }} </h1>
          
          </a>
          
          <div class="border">
            
            <div class="col border-bottom">
              
                <div class="row p-3">
              
                <div class="col-6"> Product </div>
              
                <div class="col-6 text-end"><span class="h6 fw-bold">$ {{ product.price|mul:item.qty }} </span></div>
            
              </div>
            
            </div>
            
            <div class="col">
              
              <div class="row p-3">
                
                <div class="col-12">
                  
                  <label for="select">Qty</label>

                  &nbsp; 
                  
                  <select id="select{{ product.id }}">
                  
                    <option selected>
                  
                        {{item.qty}}
                  
                    </option>
                  
                    <option value="">1</option>
                  
                    <option value="">2</option>
                  
                    <option value="">3</option>
                  
                    <option value="">4</option>
                  
                  </select>
                  
                  <br> <br>

                  <button type="button" data-index="{{ product.id }}"
                    class="btn btn-primary btn-sm update-button">
                    Update
                  
                  </button>
                  
                  &nbsp;

                  <button type="button" data-index="{{ product.id }}"
                    class="btn btn-danger btn-sm delete-button">
                    Delete
        
                  </button>
        

                </div>
        
            </div>
        
            </div>
    
            </div>
    
        </div>
      
    </div>
      
    
    {% endwith %}
    
    {% endfor %}

      <div class="col-12 text-end">
 
        <div class="h6 fw-bold"> Sub total: $ <div id="total" class="d-inline-flex"> {{ cart.get_total }} </div></div>
 
      </div>

      <br>

      <a href="{% url 'checkout' %}" class="btn btn-primary my-2"><i class="fa-solid fa-chevron-right"></i> &nbsp; Proceed to checkout</a>
 

    </div>
  
    <br>

    <br>



 </main>

 <script>

    $(document).on('click', '.delete-button', function(e){

      e.preventDefault();

      $.ajax({

          type: 'POST',
          url: '{% url "cart_delete" %}',
          data: {

              product_id: $(this).data('index'),
              csrfmiddlewaretoken: "{{ csrf_token }}",
              action: 'post'

          },

          success: function(json){

              //console.log(json)
              location.reload();
              // Optionally, you can update the cart quantity and total without reloading
              document.getElementById("cart-qty").textContent = json.qty;
              document.getElementById("total").textContent = json.total;

          },

          error: function(xhr, errmsg, err){


          }

      });


    })

    $(document).on('click', '.update-button', function(e){

    e.preventDefault();
    var theproductid = $(this).data('index');
    $.ajax({

        type: 'POST',
        url: '{% url "cart_update" %}',
        data: {

            product_id: $(this).data('index'),
            product_quantity: $('#select' + theproductid + ' option:selected').text(),
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: 'post'

        },

        success: function(json){

            //console.log(json)
            location.reload();
            document.getElementById("cart-qty").textContent = json.qty
            document.getElementById("total").textContent = json.total

        },

        error: function(xhr, errmsg, err){


        }

    });

    function completeTransaction() {
    console.log("Starting transaction completion...");
    
    // Get CSRF token
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    fetch('/cart/complete-transaction/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrfToken,
        },
        body: 'action=complete_transaction'
    })
    .then(response => response.json())
    .then(data => {
        console.log("Transaction response:", data);
        
        if (data.status === 'success') {
            alert(data.message);
            // Redirect to store or refresh page
            window.location.href = '/store/';  // Adjust URL as needed
        } else {
            alert('Error: ' + data.message);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred during transaction completion');
    });
}


})

 </script>


{% endblock %}