{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        background-color: #708090; /* Slate Gray */
    }
    .container {
        max-width: 500px;
        margin-top: 20px;
        border-radius: 10px;
    }

    h3 {
        font-weight: bold;
    }

    h5 {
        color: #6c757d;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
    }
</style>

    <body>
        <br> <br>
        <div class="container bg-white shadow-md p-5">
            <h3> Create your account </h3>
            <h5> Purchase your favorite games today! </h5>

            <br>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.username|as_crispy_field }}
                <br>
                {{ form.email|as_crispy_field }}
                <br>
                {{ form.password1|as_crispy_field }}
                {{ form.password2|as_crispy_field }}
                
                <br> <br>
                <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">
                    &nbsp; Create Account
                </button>

                <br> <br>

                <div class="text-center">
                    <a href="{% url 'my_login' %}">Already have an account?</a>
                    <br>
                    
                </div>
            </form>
        </div>
    </body>
    <br> <br>


{% endblock %}